In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import pandas as pd
import tensorflow as tf

# Import our input dataset
charity_df = pd.read_csv('charity_data.csv')
charity_df

C:\Users\chewbacca2019\anaconda3\envs\mlenv\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\chewbacca2019\anaconda3\envs\mlenv\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\chewbacca2019\anaconda3\envs\mlenv\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\chewbacca2019\anaconda3\envs\mlenv\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\chewbacca2019\anaconda3\envs\mlenv\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\chewbacca2019\anaconda3\envs\mlenv\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\chewbacca2019\anaconda3\envs\mlenv\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\chewbacca2019\anaconda3\envs\mlenv\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\chewbacca2019\anaconda3\envs\mlenv\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\chewbacca2019\anaconda3\envs\mlenv\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\chewbacca2019\anaconda3\envs\mlenv\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\chewbacca2019\anaconda3\envs\mlenv\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [2]:
# Select active charities only
charity_df_1=charity_df[charity_df.STATUS==1]
charity_df_1

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Remove variables
charity_df_2=charity_df_1.drop(columns=['EIN','NAME', 'STATUS', 'CLASSIFICATION', 'SPECIAL_CONSIDERATIONS'])
charity_df_2

,APPLICATION_TYPE,AFFILIATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,ProductDev,Association,0,5000,1
1,T3,Independent,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,Heathcare,Trust,100000-499999,142590,1
...,...,...,...,...,...,...,...
34294,T4,Independent,ProductDev,Association,0,5000,0
34295,T4,CompanySponsored,ProductDev,Association,0,5000,0
34296,T3,CompanySponsored,Preservation,Association,0,5000,0
34297,T5,Independent,ProductDev,Association,0,5000,1
34298,T3,Independent,Preservation,Co-operative,1M-5M,36500179,0

In [4]:
# Print out the APPLICATION_TYPE value counts
APPLICATION_TYPE_counts = charity_df_2.APPLICATION_TYPE.value_counts()
APPLICATION_TYPE_counts

T3     27032
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Determining the values being replaced
replace_APPLICATION_TYPE = list(APPLICATION_TYPE_counts[APPLICATION_TYPE_counts < 500].index)
replace_APPLICATION_TYPE

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [6]:
# Replace in DataFrame
for application in replace_APPLICATION_TYPE:
    charity_df_2.APPLICATION_TYPE = charity_df_2.APPLICATION_TYPE.replace(application,"Other")

In [7]:
# Checking for successful binning 
charity_df_2.APPLICATION_TYPE.value_counts()

T3       27032
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at classification column for bucketing
classification_types = charity_df.CLASSIFICATION.value_counts()
classification_types.head(20)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
Name: CLASSIFICATION, dtype: int64

In [9]:
# Print out the AFFILIATION value counts
AFFILIATION_counts = charity_df_2.AFFILIATION.value_counts()
AFFILIATION_counts

Independent         18477
CompanySponsored    15703
Family/Parent          64
National               33
Regional               13
Other                   4
Name: AFFILIATION, dtype: int64

In [10]:
# Print out the USE_CASE value counts
USE_CASE_counts = charity_df_2.USE_CASE.value_counts()
USE_CASE_counts

Preservation     28092
ProductDev        5671
CommunityServ      382
Heathcare          146
Other                3
Name: USE_CASE, dtype: int64

In [11]:
# Set up the categorical variable list
charity_cat = charity_df_2.dtypes[charity_df_2.dtypes == "object"].index.tolist()
charity_cat

['APPLICATION_TYPE', 'AFFILIATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT']

In [12]:
# Check the number of unique values in each column
charity_df_2[charity_cat].nunique()

APPLICATION_TYPE    9
AFFILIATION         6
USE_CASE            5
ORGANIZATION        4
INCOME_AMT          9
dtype: int64

In [13]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(charity_df_2[charity_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(charity_cat)
encode_df

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34289,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34290,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34291,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34292,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34293,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [14]:
charity_df_2

,APPLICATION_TYPE,AFFILIATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,ProductDev,Association,0,5000,1
1,T3,Independent,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,Heathcare,Trust,100000-499999,142590,1
...,...,...,...,...,...,...,...
34294,T4,Independent,ProductDev,Association,0,5000,0
34295,T4,CompanySponsored,ProductDev,Association,0,5000,0
34296,T3,CompanySponsored,Preservation,Association,0,5000,0
34297,T5,Independent,ProductDev,Association,0,5000,1
34298,T3,Independent,Preservation,Co-operative,1M-5M,36500179,0

In [15]:
# Merge one-hot encoded features and drop the originals
charity_df_2 = charity_df_2.merge(encode_df,left_index=True, right_index=True)
charity_df_2 = charity_df_2.drop(charity_cat,1)
charity_df_2

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34289,20197,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34290,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34291,5000,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34292,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34293,5000,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [17]:
# Split our preprocessed data into our features and target arrays
y = charity_df_2["IS_SUCCESSFUL"].values
X = charity_df_2.drop(columns=["IS_SUCCESSFUL"]).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [18]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [27]:
# Define the deep neural network model
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  28
hidden_nodes_layer2 = 14
hidden_nodes_layer3=6

nn = tf.keras.models.Sequential()

# Create first hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Create second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Create output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check model summary
nn.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_8 (Dense)              (None, 28)                980
_________________________________________________________________
dense_9 (Dense)              (None, 14)                406
_________________________________________________________________
dense_10 (Dense)             (None, 6)                 90
_________________________________________________________________
dense_11 (Dense)             (None, 1)                 7
=================================================================
Total params: 1,483
Trainable params: 1,483
Non-trainable params: 0
_________________________________________________________________

In [28]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [29]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
25716/25716 [==============================] - 3s 115us/sample - loss: 0.6866 - acc: 0.5539
Epoch 2/50
25716/25716 [==============================] - 4s 156us/sample - loss: 0.6832 - acc: 0.5582
Epoch 3/50
25716/25716 [==============================] - 3s 133us/sample - loss: 0.6824 - acc: 0.5607
Epoch 4/50
25716/25716 [==============================] - 2s 91us/sample - loss: 0.6819 - acc: 0.5634
Epoch 5/50
25716/25716 [==============================] - 2s 72us/sample - loss: 0.6814 - acc: 0.5632
Epoch 6/50
25716/25716 [==============================] - 3s 125us/sample - loss: 0.6813 - acc: 0.5658
Epoch 7/50
25716/25716 [==============================] - 3s 99us/sample - loss: 0.6809 - acc: 0.5635
Epoch 8/50
25716/25716 [==============================] - 3s 100us/sample - loss: 0.6808 - acc: 0.5645
Epoch 9/50
25716/25716 [==============================] - 2s 72us/sample - loss: 0.6808 - acc: 0.5658
Epoch 10/50
25716/25716 [==============================] - 2s 72us/sample - loss: 0.6804 - acc: 0.5667
Epoch 11/50
25716/25716 [==============================] - 2s 83us/sample - loss: 0.6801 - acc: 0.5663
Epoch 12/50
25716/25716 [==============================] - 2s 95us/sample - loss: 0.6802 - acc: 0.5668
Epoch 13/50
25716/25716 [==============================] - 2s 90us/sample - loss: 0.6799 - acc: 0.5675
Epoch 14/50
25716/25716 [==============================] - 2s 74us/sample - loss: 0.6797 - acc: 0.5678
Epoch 15/50
25716/25716 [==============================] - 2s 74us/sample - loss: 0.6795 - acc: 0.5664
Epoch 16/50
25716/25716 [==============================] - 2s 72us/sample - loss: 0.6795 - acc: 0.5675
Epoch 17/50
25716/25716 [==============================] - 2s 72us/sample - loss: 0.6796 - acc: 0.5669
Epoch 18/50
25716/25716 [==============================] - 2s 72us/sample - loss: 0.6793 - acc: 0.5660
Epoch 19/50
25716/25716 [==============================] - 2s 96us/sample - loss: 0.6794 - acc: 0.5677
Epoch 20/50
25716/25716 [==============================] - 3s 113us/sample - loss: 0.6793 - acc: 0.5681
Epoch 21/50
25716/25716 [==============================] - 3s 113us/sample - loss: 0.6790 - acc: 0.5666
Epoch 22/50
25716/25716 [==============================] - 2s 95us/sample - loss: 0.6789 - acc: 0.5677
Epoch 23/50
25716/25716 [==============================] - 2s 80us/sample - loss: 0.6786 - acc: 0.5670
Epoch 24/50
25716/25716 [==============================] - 3s 122us/sample - loss: 0.6786 - acc: 0.5682
Epoch 25/50
25716/25716 [==============================] - 3s 99us/sample - loss: 0.6788 - acc: 0.5685
Epoch 26/50
25716/25716 [==============================] - 2s 73us/sample - loss: 0.6784 - acc: 0.5693
Epoch 27/50
25716/25716 [==============================] - 2s 80us/sample - loss: 0.6785 - acc: 0.5698
Epoch 28/50
25716/25716 [==============================] - 2s 83us/sample - loss: 0.6782 - acc: 0.5688
Epoch 29/50
25716/25716 [==============================] - 2s 84us/sample - loss: 0.6785 - acc: 0.5689
Epoch 30/50
25716/25716 [==============================] - 3s 103us/sample - loss: 0.6781 - acc: 0.5690
Epoch 31/50
25716/25716 [==============================] - 2s 97us/sample - loss: 0.6782 - acc: 0.5696
Epoch 32/50
25716/25716 [==============================] - 3s 103us/sample - loss: 0.6782 - acc: 0.5692
Epoch 33/50
25716/25716 [==============================] - 3s 114us/sample - loss: 0.6780 - acc: 0.5695
Epoch 34/50
25716/25716 [==============================] - 3s 110us/sample - loss: 0.6780 - acc: 0.5703
Epoch 35/50
25716/25716 [==============================] - 3s 122us/sample - loss: 0.6778 - acc: 0.5707
Epoch 36/50
25716/25716 [==============================] - 3s 135us/sample - loss: 0.6784 - acc: 0.5649
Epoch 37/50
25716/25716 [==============================] - 4s 154us/sample - loss: 0.6778 - acc: 0.5705
Epoch 38/50
25716/25716 [==============================] - 4s 161us/sample - loss: 0.6780 - acc: 0.5679
Epoch 39/50
25716/25716 [==============================] - 5s 176us/sample - loss: 0.6775 - acc: 0.5700s - loss: 0.6772
Epoch 40/50
25716/25716 [==============================] - 3s 102us/sample - loss: 0.6779 - acc: 0.5694
Epoch 41/50
25716/25716 [==============================] - 2s 77us/sample - loss: 0.6773 - acc: 0.5700
Epoch 42/50
25716/25716 [==============================] - 2s 86us/sample - loss: 0.6773 - acc: 0.5703
Epoch 43/50
25716/25716 [==============================] - 3s 120us/sample - loss: 0.6776 - acc: 0.5707
Epoch 44/50
25716/25716 [==============================] - 2s 82us/sample - loss: 0.6776 - acc: 0.5709
Epoch 45/50
25716/25716 [==============================] - 3s 99us/sample - loss: 0.6774 - acc: 0.5705
Epoch 46/50
25716/25716 [==============================] - 3s 100us/sample - loss: 0.6775 - acc: 0.5702
Epoch 47/50
25716/25716 [==============================] - 3s 106us/sample - loss: 0.6771 - acc: 0.5696
Epoch 48/50
25716/25716 [==============================] - 3s 103us/sample - loss: 0.6779 - acc: 0.5652
Epoch 49/50
25716/25716 [==============================] - 4s 142us/sample - loss: 0.6774 - acc: 0.5682
Epoch 50/50
25716/25716 [==============================] - 4s 152us/sample - loss: 0.6776 - acc: 0.5698

In [30]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8573/8573 - 1s - loss: 6175.2334 - acc: 0.5325
Loss: 6175.233400124813, Accuracy: 0.5324857234954834